<div ng-controller="deckController as ctrl">
    <md-input-container>
        <label>덱이름</label>
        <input ng-model="ctrl.deck.name" ng-model-options="{debounce:300}">
    </md-input-container>
    <md-list>
        <md-list-item ng-repeat="card in ctrl.deck.cards">
            <div>마나 {{card.cost}}</div>
            <div flex>{{card.name}}</div>
            <div ng-if="card.fighterCard">하수인 {{card.fighter.attack}} / {{card.fighter.vital}}</div>
            <div ng-if="!card.fighterCard">주문 {{ctrl.effect.effects[card.action].name}}</div>
            <md-button ng-click="ctrl.delete(card)">삭제</md-button>
        </md-list-item>
        <md-list-item ng-show="ctrl.cards.length===0">카드가 없네요!</md-list-item>
    </md-list>
</div>

