<div ng-controller="cardListController as list">
    <md-input-container>
        <label>검색어</label>
        <input ng-model="list.keyword" ng-model-options="{debounce:300}">
    </md-input-container>
    <div class="card-to-list" ng-repeat="card in cards = (list.cards | filter:list.keyword)">
        <game-card card="card"></game-card>
        <md-menu>
            <md-button aria-label="when effect trigger" ng-click="$mdOpenMenu($event)">
                내 덱에 담기
            </md-button>
            <md-menu-content>
                <md-menu-item ng-click="list.addToDeck(deck, card)"
                              ng-repeat="deck in list.user.deckList">
                    <md-button>
                        {{deck.name}}
                    </md-button>
                </md-menu-item>
                <md-menu-item ng-hide="list.user.deckList && list.user.deckList.length>0">
                    <md-button>덱이 없어요.</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
    <div ng-show="cards.length===0">카드가 없네요!</div>
    <md-button ng-show="list.more" ng-click="list.getDeck()">더보기</md-button>
</div>