<span class="cost">{{card.cost}}</span>
<span ng-if="card.fighterCard" class="attack">{{card.fighter.attack}}</span>
<span ng-if="card.fighterCard" class="vital">{{card.fighter.vital}}</span>

<div class="body">

    <div class="img">
        <img ng-src="{{card.img||'/resources/card/white.png'}}">
    </div>
    <div class="title">
        {{card.name}}
    </div>
    <div class="detail">
        {{card.detail}}
        <div ng-if="card.fighterCard">
            <strong ng-repeat="effect in card.fighter.effects">
                효과
                <md-tooltip>{{getString(effect)}}</md-tooltip>
            </strong>
        </div>
        <div ng-if="!card.fighterCard">
            <strong>{{getString(card.effect)}}</strong>
        </div>
    </div>


</div>
<div ng-click="submit()">제출</div>
