<rooms></rooms>


<div ng-controller="gameController as game">


    <md-button ng-click="game.connect()">
        연결
    </md-button>

    <md-button ng-click="game.playGame()">
        게임 참여
    </md-button>

    <field>

    </field>

    <field>
        <fighter>
            <div class="img">
                <img src="http://www.koreanhero.net/images/Admiral_Yi_Sun-sin02.jpg">
            </div>
            <span class="attack">3</span>
            <span class="vital">5</span>
        </fighter>
    </field>

    <hand>

    </hand>


</div>